body {
    background-color: #2b4c8c; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.card {
    background-color: white;
    padding: 40px;
    border-radius: 30px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #2b4c8c;
    margin-bottom: 5px;
    padding: 20px;
    
}

.sub {
    color: #888;
    margin-top: 0;
    font-size: 14px;
}

.section-title {
    color: black;      
    font-weight: bold; 
    margin-top: 20px;  
    font-size: 21px;   
}

/* Lista sem bolinhas */
.lista {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.lista li {
    padding: 8px 0;
    /* Linha sutil entre itens */
    border-bottom: 1px solid #eee; 
    width: 150px;
}

button {
    background-color: #ff4d29; 
    color: white;
    padding: 12px 30px;
    border-radius: 20px; 
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    padding: 18px 40px;

    margin-top: 20px;
}
button:hover {
    background-color: #501003; 
}


.imagem {
    width: 100px;
    height: 100px;
    margin: 20px 0;
    
}

.footer {
    color: #aaa;
    font-size: 14px;
    margin-top: 20px;

}